html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  background-image: url("/public/images/tunnel.jpg");
}
body:after {
  content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: radial-gradient(ellipse, transparent 15%, black 70%);
}
#logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: drop-shadow(0 0 20px);
}